/* Переменные */
:root {
  --accent-color: #607CE6;
  --dark-color: #333333;
  --light-color: #FFFFFF;
  --third-color: #D9D9D9;
  --gray-color: #888888;
  --light-gray-color: #F5F5F5;
}
@font-face {
  font-family: 'Source Sans 3', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--light-color);
  font-family: 'Source Sans 3', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-color);
}
.header {
  padding: 70px 104px 0 130px;
}
.menu_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_list_item {
  list-style: none;
  padding-right: 44px;
  white-space: nowrap;
  text-align: center;
}
.logo {
  margin-right: 31px;
}
.menu_list_item_links {
  text-decoration: none;
  color: var(--dark-color);
}
.container {
  max-width: 1180px;
  margin: 0 auto;
}
.main {
  padding-top: 83.51px;
}
.main_text { 
  display: flex;
  margin-bottom: 32px;
}
.main_title {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  max-width: 580px;
}
.main_description {
  max-width: 379px;
  padding-top: 25px;
}
.about {
  padding-top: 127px;
}
.h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  margin-bottom: 32px;
}
.about_description {
  line-height: 22.4px;
  margin-bottom: 24px;
}
.about_flex {
  display: flex;
  justify-content: center;
  gap:10px;
}
.about_flex_item:last-child img {
  padding-top: 91px;
}
